 /*== google fonts ==*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background: #670370;
}

.resume .resume_left .cv_photo {
  max-width: 200px;
  height: 250px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.resume .resume_left .cv_photo-img {
  animation: ava-bg 3s infinite alternate;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #fff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #e58ced;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #670370;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 12px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_projects ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: #fff;
}

.skills {
    width: 100%;
    max-width: 300px;
    padding: 0 10px;
}
.skill-name {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-transform: lowercase;
    text-align: left;
    margin: 3px 0;

}
.skill-bar {
    height: 5px;
    background: #330867;
    border-radius: 8px;
}
.skill-per{
    height: 5px;
    background-color: aquamarine;
    border-radius: 3px;
    width: 0%;
    transition: 1s linear;
    position: relative;

}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #330867;
    color: white;
    font-size: 8px;
    border-radius: 3px;
    top: -35px;
    right: 0;
    transform: translateX(25%);

}
.skill-per::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #330867;
    color: white;
    top: -16px;
    right: 0;
    transform: translateX(50%); rotate: 45deg;
    border-radius: 2px;


}



@keyframes ava-animate {
  0% {    border-radius: 30% 70% 18% 82% / 30% 64% 36% 70%   }

  40% {    border-radius: 46% 54% 73% 27% / 58% 20% 80% 42% ;  }

  60% {    border-radius: 90% 10% 27% 73% / 12% 77% 23% 88%   }

  100% {    border-radius: 28% 72% 15% 85% / 79% 60% 40% 21%   }
}

@keyframes ava-bg {
  from {    backdrop-filter: hue-rotate(0);  }

  to {    backdrop-filter: hue-rotate(90deg);  }
}







.resume .resume_left .resume_hobby .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #670370;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #670370;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: #670370;
}

.resume .resume_right .resume_projects ul {
  display: flex;
  justify-content: space-between;
}

.resume .resume_right .resume_projects ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #670370;
  border-radius: 50%;
  position: relative;
  color: #670370;
}

.resume .resume_right .resume_projects ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_projects ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #670370;
}

.resume .resume_right .resume_projects ul li:last-child:before {
  display: none;
}

.carousel-item {
    height: 500px;
}
.carousel-item img {
    height: 500px;
}